language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: 5.4 # Allow PHP 5.4 failures because Laravel >= 5.1 requires PHP >= 5.5
    - php: hhvm
    - php: 7.0

sudo: false

env:
  - LARAVEL_VERSION="~5.0.0" TESTBENCH_VERSION="~3.0.0"
  - LARAVEL_VERSION="~5.1.0" TESTBENCH_VERSION="~3.1.0"
  - LARAVEL_VERSION="~5.2.0" TESTBENCH_VERSION="~3.2.0"

before_install:
  - sed -i s/~5.0.0\|\|~5.1.0\|\|~5.2.0/${LARAVEL_VERSION}/ composer.json
  - sed -i s/~3.0.0\|\|~3.1.0\|\|~3.2.0/${TESTBENCH_VERSION}/ composer.json
  - composer update # Use update since we'll be changing the composer.json

script: vendor/bin/phpunit tests
